.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#dashboard-content {
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}

#dashboard {
  margin-top: 30px;
  margin-bottom: 50px;
}

.dummy {
  background-color: blueviolet;
}

h4.title {
  margin-top: 30px;
  padding: 30px;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin-left: -20px;
}
